.center
{
	margin:0 auto;
}

.hide
{
	display:none;
}
li
{
	padding-top:5px;
}
li.dropdown
{
	
	padding-top:8px;
	
}
input
{
	margin:5px 5px;
}

.pointer
{
	cursor:pointer;
}


/*层1的样式*/
.cover{

		background-color:#DBDBDB;/*背景色*/
		position: absolute ;/*绝对定位，必选，使层绝对依照top,left的标准显示，否则将不能实现覆盖*/
		top:0;/*层与页面顶部距离*/
		left:0;/*层与左侧边距离*/
		z-index:1;/*当发生重叠时的优先级，数大的会覆盖数较小的，没进行设置的均可视为小于0*/
		display:none; /*层是否可见，初始化none不可见*/
		filter:Alpha(opacity=10);/*过滤颜色，设置透明度（可见度）30，数越小越透明*/
		opacity:0.50; 
}  

/*层2的样式*/
.editwin{
		/*本层显示在最前端，其它控件均不可用*/
		width:660px;/*显示宽度*/
		height:300px;/*显示高度*/
		position:fixed;/*绝对定位*/
		z-index:2;/*优先级*/
		/*display: none;是否显示*/
		border:3px ridge #FFFFFF; /*边框：宽度，样式，颜色*/
		background-color:#E0DDE8;/*背景色*/
}

.questiontitleinput
{
	width:400px;
}


table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;  
    text-align:center;  
    background-color: #F5E1C1; 
    margin-top:20px;
    margin-bottom:30px;
}

.bordered , .stutable{
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;    
        
}

.bordered tr:hover , .stutable tr:hover{
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.bordered .classtitle{
	font-weight:700;
	color:#AEADC0;
	font-family:Microsoft Yahei;
}

.table{ 
border:1px solid #cad9ea; 
color:#666; 
} 
.table th { 
background-repeat:repeat-x; 
height:30px; 
} 
.table td,.table th{ 
border:1px solid #cad9ea; 
padding:0 1em 0; 
} 
.table tr{ 
	width:300px;
}
.tableshort{
	width:10px;
	height:40px;
}
.tablelong{
	width:100px;
	height:40px;
	 text-align:left;  
}